// ------------------------ Variables ------------------------

// Colors
$blue: #2c9cf2;   
$black: #000;   
$dark: #192127; 
$gray: #72797e;
$middle-gray: #bbc1c6;
$light-gray: #e3e5e9;
$white: #fff;

// Sizes
$font-size: 1em;

// Breakpoints
$phone: 480px;
$tablet: 800px;